@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@font-face {
    font-family: oddly calming;
    src: url(../assets/fonts/Oddly\ Calming\ DEMO.ttf);
}
html{
    font-size: 62.5%;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/*colores
#FF00A2
#A2FF00
#FFB0AD
#ADFFB0
#FFADFC

fuentes 
font-family: 'Abril Fatface', cursive;
font-family: 'Cabin', sans-serif;
*/

/*.logo{
    width: 50%;
    height: 50%;

}

.background{
    background-image: -moz-linear-gradient(#FFADFC);
    width: 100%;
    height: 100%;
    font-size: 20px;
}
.section-1{
    width: 50%;
    height: 50%;
    font-size: 1em;
}*/
.header-1{
    width: 100%;
    background-color: #A2FF00;
    }

.logo img{
    width: 500px;
    height: 300px;
}
.card-cuerpo{
    display: flex;

    width: 350px;
    height: 350px;
    background-color: #FFB0AD;
    border: 2px solid #A2FF00;
    margin: 1rem 2rem 1rem 2rem;
    box-shadow: #a6a6a6 8px 6px 8px 6px;
    border-radius: 10%;
}
.card-cuerpo img{
    padding: 2rem 2rem 2rem 2rem;
    width: 200px;
    height: 200px;
    
}
.card-cuerpo h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.card-cuerpo button{
    width: 6rem;
    height: 4rem;
    align-items: center;
}
.div-1{
    background-color: beige;
    border: black solid;
    width: 20rem;
    height: 20rem;
}
.div-1 img{
    width: 150px;
    height: 150px;
    align-items: center;
}
.div-2{
    background-color: beige;
    border: black solid;
    width: 20rem;
    height: 20rem;
}
.div-2 img{
    width: 150px;
    height: 150px;
    align-items: center;
}
.div-3{
    background-color: beige;
    border: black solid;
    width: 20rem;
    height: 20rem;
}
.div-3 img{
    width: 150px;
    height: 150px;
    align-items: center;
}
.div-4{
    background-color: beige;
    border: black solid;
    width: 20rem;
    height: 20rem;
}
.div-4 img{
    width: 150px;
    height: 150px;
    align-items: center;
}
.div-5{
    background-color: beige;
    border: black solid;
    width: 20rem;
    height: 20rem;
}
.div-5 img{
    width: 150px;
    height: 150px;
    align-items: center;
}
.div-6{
    background-color: beige;
    border: black solid;
    width: 20rem;
    height: 20rem;
}
.div-6 img{
    width: 150px;
    height: 150px;
    align-items: center;
}
.box-wrap{
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}
.flex-row{
    display: flex;
    flex-flow: row wrap;
}

p{
    font-size: 2.0rem;
}
.logo{
    padding: 5rem 10rem 5rem 10rem;
}
/*
.header{
    background-color: #A2FF00;
    background-size: 100%;
    height: 200px;
    width: 300px;
    padding: 0rem;
}*/
.menu-nav{
    text-align: center;
    font-family: 'Cabin', sans-serif;
}
/*grids*/
.grids-1{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "item1 item1 item1"
    "item2 item2 item3"
    "item4 item5 item3"
    ;
}

.div-7{
    grid-area: item1;
    background-color: #ADFFB0;
    border: #a6a6a6 solid;
}
.div-8{
    grid-area: item2;
    background-color: #ADFFB0;
    border: #a6a6a6 solid;
}
.div-9{
    grid-area: item3;
    background-color: #ADFFB0;
    border: #a6a6a6 solid;
}
.div-10{
    grid-area: item4;
    background-color: #ADFFB0;
    border: #a6a6a6 solid;
}
.div-11{
    grid-area: item5;
    background-color: #ADFFB0;
    border: #a6a6a6 solid;
}
.div-11 img{
    grid-area: item6;
    width: 200px;
    height: 200px;
}
.card{
    width: 500px;
    height: 500px;

}

.card img{
    width: 400px;
    height: 400px;
}

footer{
    background-color: #A2FF00;
}
main{
    background-color: #FFB0AD;
}
p{
    color: black;
    font-family: oddly calming;
}
h1{
    color: hotpink;
    font-family: 'Abril Fatface', cursive;
    font-size: 50px;
    text-align: center;
    letter-spacing: 5px;
    text-shadow: 5px 5px 5px #a6a6a6; 
}
h2{
    color: chartreuse;
    font-family: 'Abril Fatface', cursive;;
    font-size: 40px;
    font-weight: 300;
}
.texto-color p{
    color: black;
}
.texto-color{
    color: black;
}
.form-contacto{
    padding: 10px;
    border-style: dotted;
    border-top: aliceblue;
    border-bottom: aliceblue;
    width: 100%;
    height: 100%;
    background-color: aliceblue;
}
