@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@font-face {
    font-family: oddly calming;
    src: url(../assets/fonts/Oddly\ Calming\ DEMO.ttf);
}
html{
    font-size: 62.5%;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/*colores
#FF00A2
#A2FF00
#FFB0AD
#ADFFB0
#FFADFC

fuentes 
font-family: 'Abril Fatface', cursive;
font-family: 'Cabin', sans-serif;
*/

/*.logo{
    width: 50%;
    height: 50%;

}

.background{
    background-image: -moz-linear-gradient(#FFADFC);
    width: 100%;
    height: 100%;
    font-size: 20px;
}
.section-1{
    width: 50%;
    height: 50%;
    font-size: 1em;
}*/
.header-1 {
    margin: auto;
    padding: 10px 10px 10px 10px;
    width: 100%;
    height: 15%;
    background: rgb(242,137,180);
    background: linear-gradient(180deg, rgba(242,137,180,0.9081757703081232) 0%, rgba(249,190,217,1) 45%, rgba(255,176,173,0.7373074229691876) 62%);
    display: grid;
    grid-template-columns: 1fr 1fr;
}
h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 6rem;
    color: black;
}


.a{
    text-decoration: none;
    color: black;
}
.card-cuerpo{
    display: flex;

    width: 350px;
    height: 350px;
    background-color: #FFB0AD;
    border: 2px solid #A2FF00;
    margin: 1rem 2rem 1rem 2rem;
    box-shadow: #a6a6a6 8px 6px 8px 6px;
    border-radius: 10%;
}
.card-cuerpo img{
    padding: 2rem 2rem 2rem 2rem;
    width: 200px;
    height: 200px;
    
}
.card-cuerpo h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.card-cuerpo button{
    width: 6rem;
    height: 4rem;
    align-items: center;
}

.div-1{
    margin: auto;
    background-color: beige;
    border: black solid;
    width: 20rem;
    height: 20rem;
    grid-area: div1;
}
.div-1 img{
    width: 100%;
    height: 100%;
    align-items: center;
}
.div-2{
    margin: auto;
    background-color: beige;
    border: black solid;
    width: 20rem;
    height: 20rem;
    grid-area: div2;
}
.div-2 img{
    width: 100%;
    height: 100%;
    align-items: center;
}
.div-3{
    margin: auto;
    background-color: beige;
    border: black solid;
    width: 20rem;
    height: 20rem;
    grid-area: div3;
}
.div-3 img{
    width: 100%;
    height: 100%;
    align-items: center;
}
.div-4{
    margin: auto;
    background-color: beige;
    border: black solid;
    width: 20rem;
    height: 20rem;
    grid-area: div4;
}
.div-4 img{
    width: 100%;
    height: 100%;
    align-items: center;
}
.div-5{
    margin: auto;
    background-color: beige;
    border: black solid;
    width: 20rem;
    height: 20rem;
    grid-area: div5;
}
.div-5 img{
    width: 100%;
    height: 100%;
    align-items: center;
}
.div-6{
    margin: auto;
    background-color: beige;
    border: black solid;
    width: 20rem;
    height: 20rem;
    grid-area: div6;
}
.div-6 img{
    width: 100%;
    height: 100%;
    align-items: center;
}
.box-wrap{
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    width: 100%;
    height: 100%;
}
.flex-row{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between
}

/*
.grid-tienda {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "div1 div1 div2 div2 div2 div3" 
    "div4 div5 div5 div6 div6 div6"
    ;
}
*/

p{
    font-size: 2.0rem;
}
.logo{
    padding: 5rem 10rem 5rem 10rem;
}
/*
.header{
    background-color: #A2FF00;
    background-size: 100%;
    height: 200px;
    width: 300px;
    padding: 0rem;
}*/
.navbar{
    text-align: center;
    font-family: 'Cabin', sans-serif;
    text-decoration: none;
    text-decoration-style: none;
    font-size: 3rem;
}
/*grids*/
.grids-1{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "item1 item1 item1"
    "item2 item2 item3"
    "item4 item5 item3"
    ;
}

.div-7{
    grid-area: item1;
    background-color: #ADFFB0;
    border: #a6a6a6 solid;
}
.div-8{
    grid-area: item2;
    background-color: #ADFFB0;
    border: #a6a6a6 solid;
}
.div-9{
    grid-area: item3;
    background-color: #ADFFB0;
    border: #a6a6a6 solid;
}
.div-10{
    grid-area: item4;
    background-color: #ADFFB0;
    border: #a6a6a6 solid;
}
.div-11{
    grid-area: item5;
    background-color: #ADFFB0;
    border: #a6a6a6 solid;
}
.div-11 img{
    grid-area: item6;
    width: 200px;
    height: 200px;
}
.card{
    width: 500px;
    height: 500px;

}

.card img{
    width: 400px;
    height: 400px;
}


.footer {
        background-color: #ADFFB0;
        padding: 50px;
        color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 50px 50px 50px;
}
main{
    height: 100%;
    width: 100%;
    background-color: #FFB0AD;
}
p{
    color: black;
    font-family: oddly calming;
}
/* titulooooooooooo
h1{
    color: hotpink;
    font-family: 'Abril Fatface', cursive;
    font-size: 50px;
    text-align: center;
    letter-spacing: 5px;
    text-shadow: 5px 5px 5px #a6a6a6; 
}
*/
h2{
    color: chartreuse;
    font-family: 'Abril Fatface', cursive;;
    font-size: 40px;
    font-weight: 300;
}
.texto-color p{
    color: black;
}
.texto-color{
    color: black;
}
.form-contacto{
    padding: 10px;
    border-style: dotted;
    border-top: aliceblue;
    border-bottom: aliceblue;
    width: 100%;
    height: 100%;
    background-color: aliceblue;
}

.grid-index{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    grid-template-areas:
    "grid1 grid2"
    "grid3 grid3"
    "grid4 grid5"   
    ;
}
.section-grid1{
    padding: 200px 200px 200px 200px;
    background-color: antiquewhite;
    grid-area: grid1;
}
.grid1{
    align-items: center;
}


.section-grid4{
    padding: 50px 50px 50px 50px;
    background-color: antiquewhite;
    grid-area: grid4;
}
.grid4{
    align-items: center;
}

.section-grid3{
    background-color: antiquewhite;
    grid-area: grid3;
}
.section-grid4{
    background-color: antiquewhite;
    grid-area: grid4;
}
.grid4{
    align-items: center;
}
.section-grid5{
    padding: 10px 10px 10px 10px;
    background-color: antiquewhite;
    grid-area: grid5;
}
.grid1{
    align-items: center;
}
.section-grid2 {
    position: relative;
    width: 100%;
    max-width: 100%;
  }
  
  .section-grid2 img {
    width: 100%;
    height: 100%;
  }
  
  .grid2 .boton-favs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #ef58ce;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
  .grid2 .boton-favs:hover {
    background-color: antiquewhite;
    color: darkslategrey;
  }

  .section-grid3 {
    position: relative;
    width: 100%;
    max-width: 100%;
  }
  
  .section-grid3 img {
    width: 100%;
    height: 100%;
  }
  
  .grid3 .boton-exp {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #e883ac;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
  .grid3 .boton-exp:hover {
    background-color: greenyellow;
    color: white;
  }
  /*
.boton-favs{
    background-color: #ADFFB0; 
    border: none;
    width: 50%;
    color: black;
    padding: 15px 32px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  } */
  .nosotros {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    grid-row: wrap;
    ;
    margin-right: -15px;
    margin-left: -15px;
  }
  .us .us-1 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .us-1 img {
    border-radius: 50%;
  }
  .img-us{
    vertical-align: middle;
    border-style: none;
  }
  .nosotros h2{
    font-weight: 400;
    font-size: 2rem;
  }
  .us .us-1{
    margin-right: 0.75rem;
    margin-left: 0.75rem;
  }
  p{
    margin-top: 0;
    margin-bottom: 1rem;
  }

  body {
    height: 100%;
    overflow: auto;
    background-color: #e883ac;
  }

.container-index{

    display: grid;

    width: 100%;

    height: 100vh;

    grid-template-columns: 1fr;

    grid-template-rows: auto 80% auto;

}

header{

    margin: 10px 6px 10px 6px;

    padding-bottom: 10px;

    border-bottom: 1px solid #C5AF8F;

    display: grid;

    grid-template-columns: 1fr 1fr;

}

nav{

    width: 80%;

    justify-self: center;

    align-self: center;

}

.navbar{

    display: flex;

    justify-content: space-between;

    list-style: none;

    

}

.navbar li a{

    text-decoration: none;

    font-size: 18px;

    color: #A87C6F;

}

@media (max-width:320px){
    
    .navbar{
        flex-direction: column;
    }
    .nosotros{
        max-width: 320px;
        align-items: center;
    }
    .us-1{
        width: 300px;
        height: 300px;
        background-color: #e883ac;
    }

    .us-1 .img-us{
        max-width: 250px;

    }
}

@media(max-width:768px){
    .navbar{
        flex-direction: column;
    }
    .nosotros{
        max-width: 760px;
        align-items: center;
    }
    .us-1{
        width: 600px;
        height: 600px;
        background-color: #e883ac;
    }

    .us-1 .img-us{
        max-width: 500px;
    }

}


  